<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
          <ion-label>Notifications</ion-label>
          <ion-badge color="danger" slot="end">1000</ion-badge>
        </ion-item>

<ion-item>
  <ion-label>MM DD YY</ion-label>
  <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
</ion-item>

<ion-icon name="camera"></ion-icon>
<ion-icon name="call"></ion-icon>
<ion-icon name="cloud-upload"></ion-icon>
<ion-icon name="logo-tux"></ion-icon>
<ion-icon name="logo-twitter"></ion-icon>

<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button fill="solid">
      <ion-icon slot="start" name="contact"></ion-icon>
      Contact
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button color="danger" fill="outline">
      Edit
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
