<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat <ion-icon name="chatboxes"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Gebedia Dias<ion-icon name="person"></ion-icon>
  </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Olá, boa noite!
    Gostaria de saber se você poderia me recomendar uma série que teve críticas positivas? <ion-icon name="checkmark"></ion-icon>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title> Eu <ion-icon name="person"></ion-icon>
  </ion-card-title> 
  </ion-card-header>

  <ion-card-content>
    Boa!
    Chernobyl é uma ótima mini série da HBO. Recomendo ! <ion-icon name="done-all"></ion-icon>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Gebedia Dias</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Obrigado pela indicação! <ion-icon name="remove-circle"></ion-icon>
  </ion-card-content>
</ion-card>
