<ion-header>
  <ion-toolbar>
    <ion-title>
      Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar></ion-searchbar>

<ion-content></ion-content>

<!-- Default reorder icon, end aligned items -->
<ion-item>
  <ion-label>
    Alfredo Neves <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-label>
  <ion-reorder slot="end"></ion-reorder>
</ion-item>

<ion-item>
  <ion-label>
    Carlos Silva <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-label>
  <ion-reorder slot="end"></ion-reorder>
</ion-item>

<!-- Default reorder icon, start aligned items -->
<ion-item>
  <ion-reorder slot="start"></ion-reorder>
  <ion-label>
    Ellen de Sá <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-label>
</ion-item>

<ion-item>
  <ion-reorder slot="start"></ion-reorder>
  <ion-label>
    Hugo Sales <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-label>
</ion-item>

<!-- Custom reorder icon end items -->
<ion-item>
  <ion-label>
    Jebedias Dias <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-label>
  <ion-reorder slot="end">
    <ion-icon name="pizza"></ion-icon>
  </ion-reorder>
</ion-item>

<ion-item>
  <ion-label>
    Nilmara Lago <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-label>
  <ion-reorder slot="end">
    <ion-icon name="pizza"></ion-icon>
  </ion-reorder>
</ion-item>

<!-- Items wrapped in a reorder, entire item can be dragged -->
<ion-reorder>
  <ion-item>
    <ion-label>
      Rogger Steves <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-label>
  </ion-item>
</ion-reorder>

<ion-reorder>
  <ion-item>
    <ion-label>
      Yan Neto <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-label>
  </ion-item>
</ion-reorder>
